<div class = 'container'>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Active</th>
                <th>Admin</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.profile.firstName}} {{user.profile.lastName }}</td>
                <td>{{ user.profile.email }}</td>
                <td>{{ user.active ? 'Yes' : 'No' }}</td>
                <td>{{ user.admin ? 'Yes' : 'No' }}</td>
                <td>{{ user.status }}</td>
            </tr>
        </tbody>
    </table>
    <button (click)="openModal()">Add User</button>
</div>
<app-user-modal *ngIf="showModal" [showModal]="showModal" (close)="CloseModal()">
  </app-user-modal>


