<nav class="navbar navbar-custom">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="#"><img
                src="../../assets/img/logo.svg">
            </a>
            <h3 class="admin-msg" *ngIf="isAdmin()" [hidden]="showAdminMsg">ACTING AS ADMIN</h3>
            <h3 class="admin-msg" *ngIf="!isAdmin()" [hidden]="showAdminMsg">ACTING AS USER</h3>
        </div>
        
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a routerLink="/announcements">Home</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/teams">Teams</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/userRegistry">Users</a>
                    </li>
                    <li>
                        <button class="logout-btn" (click)="logout()">Logout</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>