<div class="container">
    <div
        style="width: 660px; height: 604px; left: 534px; top: 323px; position: absolute; box-shadow: 4px 4px 10px 5px rgba(202.94, 202.94, 202.94, 0.49); border-radius: 15px; border: 5px #DEB992 solid">
    </div>
    <div class="header"><span class="title">COOK
            SYSTEMS<br /></span><span class="subtitle">A
            FINAL APP</span></div>
    <div class="logo"><img
            src="../../assets/img/logo.svg" /></div>

    <div class ="username">
        username</div>
    <div
        class="login-border">
        <div class="login">
            LOGIN</div>
    </div>
    <div class="spacing-username"></div>
    <div class="password">
        password</div>
    <div class="spacing-password"></div>
</div>








<!-- <div class="header"><span class="title">COOK
        SYSTEMS<br /></span><span
        class="subtitle">A
        FINAL APP</span></div>
-->



<!-- <div class="login">
    <img src="../../assets/logo.svg" />
    <form class="form-box">
        <label for="email">email</label>
        <input type="text" name="email" placeholder="Email">
        <label for="password">password</label>
        <input type="password" name="password" placeholder="Password">
        <button>LOGIN</button>
    </form>
</div> 
-->