<div class="container">
    <div class="wrapper">
        <div class="inner-wrapper">
            <div class="select-company">Select Company</div>
        </div>
    </div>
    <div class="option-wrapper">
        <div class="option-inner-wrapper">
            <div class="option">Pick an option</div>
            <select class="dropdown">
                <img src="../../assets/img/Icon.svg" />
                <option></option>
                <option class="dropdown-box">dfsafasdfd</option>
            </select>
        </div>
    </div>
    <div class="exterior"></div>
</div>