<div class="container">
    <div class="wrapper">
        <div class="inner-wrapper">
            <div class="select-company">Select Company</div>
        </div>
    </div>
    <div class="option-wrapper">
        <div class="option-inner-wrapper">
            <div class="option">Pick an option</div>
            <select [(ngModel)]="companySelected_id" (onChange)="selectCompany" class="dropdown">
                <img src="../../assets/img/Icon.svg" />
                <option></option>
                <option *ngFor="let company of this.currentUser.companies"class="dropdown-box" [value]="company.id">{{ company.name }}</option>
            </select>
        </div>
    </div>
    <div class="exterior"></div>
</div>