.container {
  width: 100%;
  max-width: 800px;
  background: #0b2d45;
  border-radius: 20px;
  padding: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px
}

.input input{
  margin: 20px;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  outline: none;
  color: #DEB992;
  font-size: 16.24px; 
  font-family: Mulish; 
  font-weight: 400; 
}

.input input::placeholder {
  color: #DEB992; 
  font-size: 16.24px;
  font-family: Mulish;
  font-weight: 400;
}

#question {
  color: #DEB992;
font-size: 20px;
font-family: Mulish;
font-weight: 400;
text-align: center;
}